<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/assets/css/boogle.css">
        <title>Boogle</title>
    </head>
    <body>
        <div id="glava">
            <a href="http://www.1.com">Bmail</a>
            <a href="http://www.2.com">Slike</a>
            <a class="meni" href="http://www.3.com"><img src="http://images.naldzgraphics.net/2015/12/5-flat-icons-wedding.jpg" width="56" height="42"/></a>
            <a class="prijava" href="/boogle-login.html">Prijava</a>
        </div>

        <div id="vsebina">
            <img src="https://www.mojmuffin.si/964-large_default/silikonski-pekacmodel-emmanuele-s-cakes-ke017-passion-smallinsert.jpg"/>
            <input type="text" name="search" placeholder="">
            <div>
                <a href="http://www.12.com">iskanje</a>
                <a href="http://www.13.com">sreča na slepo</a>
            </div>
        </div>

        <div id="noga">
            <div>
                <a href="http://www.5.com">Oglaševanje</a>
                <a href="http://www.6.com">Posel</a>
                <a href="http://www.7.com">Predstavitev</a>
            </div>
            <div>
                <a href="http://www.8.com">Zasebnost</a>
                <a href="http://www.9.com">Pogoji</a>
                <a href="http://www.10.com">Nastavitve</a>
                <a href="http://www.11.com">Uporaba Boogle</a>
            </div>
        </div>
    </body>
</html>
